@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

*{
    font-family: 'Exo', sans-serif;
    margin: 0;
}

@media screen and (min-width: 1024px) {

    .nav-left-ham{
        display: none;
    }
    .nav-right-ham{
        display: none;
    }
    .nav-space-ham{
        display: none;
    }
    .nav-bottom{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        padding-top: 2%;
        padding-bottom: 2%;
        align-items: center;
    }
    
    .nav-logo{
        margin-left: 100%;
    }
    
    .nav-logo>a>img{
        width: 40px;
        height: 40px;
    }
    
    .nav-space{
        width: 55%;
    }
    
    .nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .nav-right>div{
        margin-left: 15%;
    }

    .blog-href{
        text-decoration: none;
        color: #5ce1e6;
    }

    .nav-right>div>button{
        font-size: 16px;
        font-weight: 700;
        color: #5ce1e6;
    }

    .nav-right>div>a{
        font-size: 16px;
        font-weight: 700;
    }

    .nav-right>div>button{
        background: transparent;
        border: none;
    }

    .intro-slide{
        color: #5ce1e6;
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-top: 5%;
    }

    .name{
        font-size: 96px;
        font-weight: 900;
    }

    .desc{
        width: 50%;
        margin-top: 10px;
        font-size: 16px;                                    
        font-size: 900;  
        color: rgb(255, 255, 255);                                                                               
    }

    .show-cool-stuff{
        margin-top: 3%;
        margin-left: 3%;
    }

    .show-cool-stuff-button{
        transition: 0.5s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #5ce1e6;
        background: transparent;
        font-size: 16px;
        font-weight: 800;
        border: 2px solid #5ce1e6;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
    }

    .show-cool-stuff-button:hover{
        transition: 0.5s;
        background: rgb(92, 225, 230, 0.2);
    }
}

@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .navbar{
        display: flex;
        flex-direction: row;
        padding-top: 2%;
        padding-bottom: 2%;
        align-items: center;   
    }
    
    .nav-logo{
        margin-left: 100%;
    }
    
    .nav-logo>a>img{
        width: 40px;
        height: 40px;
    }
    
    .nav-space{
        width: 45%;
    }
    
    .nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .nav-right>div{
        margin-left: 15%;
        font-size: 16px;
        font-weight: 700;
    }
    
    .nav-resume-button{
        padding: 5px 10px 5px 10px;
        background: none;
        border: 1px solid blue;
        border-radius: 10px;
        font-weight: 800;
    }
}

@media screen and (max-device-width: 480px)
and (orientation: portrait) {

    .nav-left{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-space{
        display: none;
    }

    .navbar[aria-expanded="false"]{
        transition: 1s;
        background: darkblue;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .navbar[aria-expanded="true"]{
        transition: 1s;
        padding-bottom: 100%;
        background: darkblue;
        padding-top: 2%;
    }

    .nav-top{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-bottom[aria-expanded="false"]{
        opacity: 0;
        display: none;
    }

    .nav-bottom[aria-expanded="true"]{
        display: flex;
        justify-content: center;
    }

    .nav-bottom[aria-expanded="true"]>div{
        margin-top: 20px;
    }

    .nav-bottom[aria-expanded="true"]>div>div{
        margin-top: 10px;
    }

    .nav-ham-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo>a>img{
        width: 60px;
        height: 60px;
        margin-left: 7px;
    }
    
    .nav-space-ham{
        width: 60%;
    }

    .nav-tab{
        background: transparent;
        border: 2px solid #5ce1e6;
        border-radius: 1rem;
    }

    .nav-tab .line{
        transition:
            y 300ms ease-in 300ms,
            rotate 300ms ease-in,
            opacity 0ms 300ms;
        transform-origin: center;
    }

    .nav-tab[aria-expanded="true"] .line{
        transition:
            y 300ms ease-in,
            rotate 300ms ease-in 300ms,
            opacity 0ms 300ms;
    }

    .nav-tab[aria-expanded="true"] :is(.nav-bottom-ham, .nav-top-ham){
        y: 45;
    }

    .nav-tab[aria-expanded="true"] .nav-top-ham{
        rotate: 45deg;
    }

    .nav-tab[aria-expanded="true"] .nav-middle-ham{
        opacity: 0;
    }

    .nav-tab[aria-expanded="true"] .nav-bottom-ham{
        rotate: -45deg;
    }

    .nav-ham-menu>div>button{
        background: transparent;
        border: none;
    }

    .nav-resume-button{
        padding: 5px 10px 5px 10px;
        background: none;
        border: 1px solid #5ce1e6;
        border-radius: 10px;
        font-weight: 800;
        color: #5ce1e6;
    }
}