@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

*{
    font-family: 'Exo', sans-serif;
    margin: 0;
}

@media screen and (min-width: 1024px) {

    .nav-left-ham{
        display: none;
    }
    .nav-right-ham{
        display: none;
    }
    .nav-space-ham{
        display: none;
    }
    .nav-bottom{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        margin-bottom: 2%;
        align-items: center;   
    }
    
    .nav-logo{
        margin-left: 100%;
    }
    
    .nav-logo>img{
        width: 40px;
        height: 40px;
    }
    
    .nav-space{
        width: 50%;
    }
    
    .nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .nav-right>div{
        margin-left: 15%;
        font-size: 16px;
        font-weight: 700;
    }
    
    .nav-resume-button{
        padding: 5px 10px 5px 10px;
        background: none;
        border: 1px solid blue;
        border-radius: 10px;
        font-weight: 800;
    }
}

@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .navbar{
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        margin-bottom: 2%;
        align-items: center;   
    }
    
    .nav-logo{
        margin-left: 100%;
    }
    
    .nav-logo>img{
        width: 40px;
        height: 40px;
    }
    
    .nav-space{
        width: 25%;
    }
    
    .nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .nav-right>div{
        margin-left: 15%;
        font-size: 16px;
        font-weight: 700;
    }
    
    .nav-resume-button{
        padding: 5px 10px 5px 10px;
        background: none;
        border: 1px solid blue;
        border-radius: 10px;
        font-weight: 800;
    }
}

@media screen and (max-device-width: 480px)
and (orientation: portrait) {

    .nav-left{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-space{
        display: none;
    }

    .navbar[aria-expanded="false"]{
        transition: 1s;
        background: darkblue;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .navbar[aria-expanded="true"]{
        transition: 1s;
        padding-bottom: 100%;
        background: darkblue;
        padding-top: 2%;
    }

    .nav-top{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-bottom[aria-expanded="false"]{
        opacity: 0;
        display: none;
    }

    .nav-bottom[aria-expanded="true"]{
        display: flex;
        justify-content: center;
    }

    .nav-bottom[aria-expanded="true"]>div{
        margin-top: 20px;
    }

    .nav-bottom[aria-expanded="true"]>div>div{
        margin-top: 10px;
    }

    .nav-ham-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-resume-button{
        padding: 5px 10px 5px 10px;
        background: none;
        border: 1px solid #5ce1e6;
        border-radius: 10px;
        font-weight: 800;
        color: #5ce1e6;
    }

    .nav-logo>img{
        width: 60px;
        height: 60px;
        margin-left: 7px;
    }
    
    .nav-space-ham{
        width: 60%;
    }

    .nav-tab{
        background: transparent;
        border: 2px solid #5ce1e6;
        border-radius: 1rem;
    }

    .nav-tab .line{
        transition:
            y 300ms ease-in 300ms,
            rotate 300ms ease-in,
            opacity 0ms 300ms;
        transform-origin: center;
    }

    .nav-tab[aria-expanded="true"] .line{
        transition:
            y 300ms ease-in,
            rotate 300ms ease-in 300ms,
            opacity 0ms 300ms;
    }

    .nav-tab[aria-expanded="true"] :is(.nav-bottom-ham, .nav-top-ham){
        y: 45;
    }

    .nav-tab[aria-expanded="true"] .nav-top-ham{
        rotate: 45deg;
    }

    .nav-tab[aria-expanded="true"] .nav-middle-ham{
        opacity: 0;
    }

    .nav-tab[aria-expanded="true"] .nav-bottom-ham{
        rotate: -45deg;
    }
}